<Configuration status="warn">
    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d{dd-MM-yyyy HH:mm:ss} [%-6p] [%t] %c{3} - %m%n%throwable}{FATAL=white, ERROR=red, WARN=yellow, INFO=blue, DEBUG=green, TRACE=Cyan}" />
        </Console>
    </Appenders>
    <Loggers>
        <!-- Root logger referring to console appender -->
        <Root level="info" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>